.rangepicker{
    margin-left: 200px;
    /*padding-top: 6px;*/
}
.btn_today {
    margin-left: 20px !important;
    margin-top: 9px !important;
    padding-top: 3px;
    text-decoration: none;
    font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
    font-size: 8pt !important;
    position: absolute;
}

.btn_freeze {
    margin-left: 100px !important;
    margin-top: 9px !important;
    padding-top: 3px;
    text-decoration: none;
    font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
    font-size: 8pt !important;
    position: absolute;
}

#btnShow {
    margin-top: 9px !important;
    padding-top: 3px;
    text-decoration: none;
    font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
    font-size: 8pt !important;
    margin-left: 8px;
}