.booking-toolbar .btn_show {
    text-decoration: none;
    font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
    font-size: 8pt !important;
}

.booking-toolbar .rangepicker {
    margin: 0 auto;
    width: 340px;
}

.booking-toolbar .rangepicker .ui-datepicker-calendar {
    display: none;
}  

.booking-toolbar .rangepicker input[type="text"] {
    width: 100px;
    cursor: pointer;
    text-align: center;
    margin: 0 2px;
}        